/* 全局样式重置 */
body, div, span, small, p, em, i, b, th, td, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, textarea { padding: 0; margin: 0; font-size: 12px;}
a { cursor: pointer; text-decoration: none; }
a img { border: none; }
ul, ol { list-style: none; }
table { border-spacing: 0; border-collapse: collapse; }
input:focus, select:focus, textarea:focus { outline: none; }
body { color: #333; font-size: 13px; font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","微软雅黑","华文细黑","STHeiti","Microsoft YaHei",SimHei,sans-serif !important;}
em{
	    font-style: normal;
}
/* 常用样式缩写 */
/* float */
.Lfll { float: left; }
.Lflr { float: right; }
.Lcfl { clear: left; }
.Lcfr { clear: right; }
.Lcfb { clear: both; }
/* font-size */
.Lfz10 { font-size: 10px; }
.Lfz12 { font-size: 12px; }
.Lfz14 { font-size: 14px; }
.Lfz16 { font-size: 16px; }
.Lfz18 { font-size: 18px; }
.Lfz20 { font-size: 20px; }
/* color */
.Lcfff { color: #FFF; }
.Lcf60 { color: #F60; }
.Lcc00 { color: #C00; }
.Lcf00 { color: #F00; }
.Lc390 { color: #390; }
.Lc333 { color: #333; }
.Lc666 { color: #666; }
.Lc999 { color: #999; }
/* text-align */
.Ltal { text-align: left; }
.Ltac { text-align: center; }
.Ltar { text-align: right; }
.Lfwb { font-weight: bold; }
/* font-family */
.Lffar { font-family: Arial; }
.Lfftm { font-family: Tahoma; }
.Lffst { font-family: 宋体; }
.Lffyh { font-family: Microsoft YaHei; }
/* text-indent */
.Lti5 { text-indent: 5px; }
.Lti10 { text-indent: 10px; }
.Lti15 { text-indent: 15px; }
.Lti20 { text-indent: 20px; }
.Lti25 { text-indent: 25px; }
.Lti30 { text-indent: 30px; }
.Lti35 { text-indent: 35px; }
.Lti40 { text-indent: 40px; }
.Lti1000r { text-indent: -1000px; }
/* margin */
.Lmt5 { margin-top: 5px;font-size: 12px; }
.Lmt10 { margin-top: 10px; }
.Lmt15 { margin-top: 15px; }
.Lmt20 { margin-top: 20px; }
.Lmt25 { margin-top: 25px; }
.Lmt30 { margin-top: 30px; }
.Lmt35 { margin-top: 35px; }
.Lmt40 { margin-top: 40px; }
.Lmr5 { margin-right: 5px; }
.Lmr10 { margin-right: 10px; }
.Lmr15 { margin-right: 15px; }
.Lmr20 { margin-right: 20px; }
.Lmr25 { margin-right: 25px; }
.Lmr30 { margin-right: 30px; }
.Lmr35 { margin-right: 35px; }
.Lmr40 { margin-right: 40px; }
.Lmb5 { margin-bottom: 5px; }
.Lmb10 { margin-bottom: 10px; }
.Lmb15 { margin-bottom: 15px; }
.Lmb20 { margin-bottom: 20px; }
.Lmb25 { margin-bottom: 25px; }
.Lmb30 { margin-bottom: 30px; }
.Lmb35 { margin-bottom: 35px; }
.Lmb40 { margin-bottom: 40px; }
.Lml5 { margin-left: 5px; }
.Lml10 { margin-left: 10px; }
.Lml15 { margin-left: 15px; }
.Lml20 { margin-left: 20px; }
.Lml25 { margin-left: 25px; }
.Lml30 { margin-left: 30px; }
.Lml35 { margin-left: 35px; }
.Lml40 { margin-left: 40px; }
/* padding */
.Lpt5 { padding-top: 5px; }
.Lpt10 { padding-top: 10px; }
.Lpt15 { padding-top: 15px; }
.Lpt20 { padding-top: 20px; }
.Lpt25 { padding-top: 25px; }
.Lpt30 { padding-top: 30px; }
.Lpt35 { padding-top: 35px; }
.Lpt40 { padding-top: 40px; }
.Lpr5 { padding-right: 5px; }
.Lpr10 { padding-right: 10px; }
.Lpr15 { padding-right: 15px; }
.Lpr20 { padding-right: 20px; }
.Lpr25 { padding-right: 25px; }
.Lpr30 { padding-right: 30px; }
.Lpr35 { padding-right: 35px; }
.Lpr40 { padding-right: 40px; }
.Lpb5 { padding-bottom: 5px; }
.Lpb10 { padding-bottom: 10px; }
.Lpb15 { padding-bottom: 15px; }
.Lpb20 { padding-bottom: 20px; }
.Lpb25 { padding-bottom: 25px; }
.Lpb30 { padding-bottom: 30px; }
.Lpb35 { padding-bottom: 35px; }
.Lpb40 { padding-bottom: 40px; }
.Lpl5 { padding-left: 5px; }
.Lpl10 { padding-left: 10px; }
.Lpl15 { padding-left: 15px; }
.Lpl20 { padding-left: 20px; }
.Lpl25 { padding-left: 25px; }
.Lpl30 { padding-left: 30px; }
.Lpl35 { padding-left: 35px; }
.Lpl40 { padding-left: 40px; }
/* position */
.Lposa { position: absolute; }
.Lposr { position: relative; }
.Lposf { position: fixed; }
.Lposs { position: static; }
/* display */
.Ldb { display: block; }
.Ldn { display: none; }
.Ldib { display: inline-block; }
/* overflow */
.Lovh { overflow: hidden; }
.Lovv { overflow: visible; }
/* visibility */
.Lvv { visibility: visible; }
.Lvh { visibility: hidden; }
/* background-color */
.Lbgcr { background-color: Red; }
.Lbgcw { background-color: white; }
.Lbgcb { background-color: blue; }
.Lbgcg { background-color: green; }
.Lbgco { background-color: orange; }
.Lbgcy { background-color: yellow; }
/* other */
.Lon { outline: none; }
.Lcurp { cursor: pointer; }
.Lcfx { zoom: 1; }
.Lcfx:before, .Lcfx:after { content: ""; display: table; }
.Lcfx:after { clear: both; }
.Lmlra { margin-left: auto; margin-right: auto; }

/*topbar s*/
body{ background: #eeeeee;  overflow-x: hidden;}
.wp{ width: 1100px; margin: 0 auto;}
/*topbar s*/
.icon{ background-image: url("../images/bg_icon1.png"); background-repeat: no-repeat;}
.topbar{ height: 46px; background: #e5e5e5; border-top:6px #9e764e solid; position: relative; z-index: 101;}
.userlink{ padding-top: 20px; font-size: 12px;}
.userlink a,
.userlink span,
.userlink .rssarea{  color: #959595;}
.userlink span{ padding: 0 5px;}
.userlink .reg-btn{ color:#ff9b14;}
.userlink .dy-icon{ width: 12px; height: 12px; float: left; background-position: -4px -304px; margin-top: 3px; margin-right: 5px;}
.userlink .rssarea{ position: relative;}
.userlink .rssbox{background-color: gainsboro;position: absolute; z-index: 2; top: 18px; left: 0; padding: 10px 15px 13px; width: 275px; display: none;}
.userlink .rssbox p{color: #313131; line-height: 20px;}
.userlink .input1 {width: 200px;padding: 4px 7px;height: 20px;line-height: 20px;color: #333;border: none;}
.userlink .btn1 {width: 60px;height: 28px; line-height: 28px;color: white; border: none;background-color: #b28850;}
.u-phone{font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; padding-top: 11px;}
.u-phone em{ font-size: 20px; color: #CFA97A; float: left; background-position: -2px 4px; padding-left: 20px; font-style:normal;}
.u-phone span,
.u-phone a{ float: left; line-height: 22px;color: #959595;}
.u-phone span{ padding: 0 14px;}
.u-phone a i{ font-family: 'arial'; font-weight: bold; font-style: normal; float: left; margin-right: 5px;}
/*topbar e*/
.header{ height: 100px; width: 100%; position: relative; z-index: 10;background: #FFF;/*box-shadow: 0px 1px 5px #0b0b0b;border-top: 5px solid #9e764e;*/}
.header h1{ float: left;}
.header .logo{ width: 225px; background: url(../images/logo.png?t=1) no-repeat -13px 0; height: 45px; padding:55px 0 0 75px; font-size:16.5px; font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; color:#000; font-weight:normal; letter-spacing:0.83em;}
.header .nav{ width: 540px;}
.header .nav .items{ padding-top: 53px; position: relative;}
.header .nav li{ float: left; position: relative;height:45px;}
.header .nav li .ma{letter-spacing: 0.01em; color: black; height: 28px; line-height: 26px; padding: 0 20px; font-size: 16px; font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; overflow: hidden;}

.header .nav li.navlink5 .ma{ text-indent: 86px;}

.header .nav li.navlink1 .ma{ border-left: none;}
.header .nav li.navlink1 .ma:hover,
.header .nav li.cur.navlink1 .ma{ color: #ff9b14;}

.header .nav li.navlink2 .ma:hover,
.header .nav li.cur.navlink2 .ma{color: #ff8000;}
.header .nav li.navlink3 .ma:hover,
.header .nav li.cur.navlink3 .ma{ color: #ff8000;}
.header .nav li.navlink4 .ma:hover{color: #ff8000;}

.header .nav li.navlink5 .ma:hover,
.header .nav li.cur.navlink5 .ma{ color: #ff8000;}
.nav .navlink5 .dropbox { display: none; position: absolute; right: 0; top: 45px; z-index: 10; text-align: left; background-color: #FFF; padding: 12px 17px 17px; width: 330px;}
.nav .navlink5 .dropbox a { padding: 0; line-height: 20px; border-left: none; background-image: none }
.dropbox.will { left: auto; right: 0 }
.dropbox.will .notice { width: 250px }
.dropbox.will .notice p { color: #959595; line-height: 20px; padding-left: 30px }
.dropbox.will .notice .top { padding-left: 30px; position: relative; line-height: 30px; color: #313131; font-size: 14px }
.dropbox.will .notice .icon { width: 30px; height: 30px; position: absolute; top: 0; left: 0; background: url(../images/bg_icon1.png) 0 -350px no-repeat }
.dropbox.will .willitem, .dropbox.will .consult { position: relative }
.dropbox.will .willitem .close, .dropbox.will .consult .close { width: 20px; height: 20px; position: absolute; top: 0px; right: 0px; background: url(../images/bg_icon2.png) -20px -550px no-repeat }
.dropbox.will .willitem .close:hover, .dropbox.will .consult .close:hover { background-position: 0 -550px }
.dropbox.will .willitem { background-color: #f2f2f2; min-height: 66px; padding: 2px; padding-left: 150px; width: 178px }
.dropbox.will .willitem .img { position: absolute; left: 2px; top: 2px }
.dropbox.will .willitem b { zoom: 1; height: 24px; overflow: hidden; display: block }
.dropbox.will .willitem b a { width: auto; color: #333; line-height: 24px }
.dropbox.will .willitem p { line-height: 18px; color: #666; height: 36px; overflow: hidden; zoom: 1 }
.dropbox.will .consult { width: 310px; padding: 10px; color: #666; background-color: #f2f2f2 }
.dropbox.will .consult h3 { color: #333; font-size: 12px; line-height: 24px }
.dropbox.will .consult p { line-height: 16px; font-size: 12px; }
.dropbox.will .consult .bottom { color: #666; line-height: 20px }
.dropbox.will .consult .Cdateinput { border: 1px solid #cbcbcb; width: 146px; height: 22px;}
.dropbox.will .consult .Cdateinput img { padding: 3px; background-color: #cbcbcb }
.dropbox.will .consult .Cdateinput:hover, .dropbox.will .consult .Cdateinput.hover { border-color: #262626 }
.dropbox.will .consult .Cdateinput:hover img, .dropbox.will .consult .Cdateinput.hover img { background-color: #262626 }
.dropbox.will .consult .msg { display: block; line-height: 16px; height: 16px }
.dropbox.will .consult .msg.err { color: #ed2112 }
.dropbox.will .consult .msg.suc { color: green }
.dropbox.will .input1 { width: 136px; padding: 0 5px; height: 22px; line-height: 22px; border: 1px solid #cbcbcb }
.dropbox.will .input2 { width: 114px; padding: 0 5px; height: 22px; line-height: 22px; border: none }
.dropbox.will .tarea1 { width: 300px; height: 50px; padding: 4px; display: block; overflow-x: hidden; overflow-y: auto; resize: none; border: 1px solid #cbcbcb }

.header .nav .dropbox.termini{padding:15px 0px;width: 1344px; position: absolute; top: 45px; height: 711px; background: url(../images/theme-navbg.png); left: -423px; display: none;}
.dropbox.termini .na-items p.da-tit{ font-size: 14px; color: #cfa972; font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; line-height: 18px; padding-top: 15px; height: 18px;}
.dropbox.termini .na-items p.da-tit i{background-position: 0 -635px; width: 11px; height: 18px; display: block; float: left; padding-right: 8px;}
.dropbox.termini .na-items .add-tiems{width: 260px; float: left; margin-right: 15px;}
.dropbox.termini .na-items .add-tiems h3{border-bottom: 2px solid #e8d7bf; font-size: 18px; font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; color: #000; line-height: 28px; font-weight: normal; padding-left: 15px; margin: 5px 0 5px 0;}
.dropbox.termini .dl-c{overflow: hidden;}
.dropbox.termini .m-top{margin-top: 10px;}
.dropbox.termini .na-items .add-tiems dl.dl-list{width: 115px; float: left; padding-bottom:5px; padding-left: 15px; overflow: hidden;}
.dropbox.termini .na-items .add-tiems dl.dl-list dt a{color: #000; line-height: 20px; font-size:15px;}
.dropbox.termini .na-items .add-tiems dl.dl-list dd a{color: #4F4F4D; line-height: 18px;}
.dropbox.termini .na-items .add-tiems dl.dl-list dd .recommend{color:#f19149;}
.dropbox.termini .dl-lf,
.dropbox.termini .dl-rt{width: 120px; float: left;}

.head_text{display: block;height: 0;width: 0;overflow: hidden;}
.header .nav .dropbox.theme-box{ width: 1344px; position: absolute; top: 55px;  display: none;height: 270px; background: url(../images/theme-navbg.png) repeat-x; left: -527px;}
.header .nav .d-items{ width: 1100px; margin: 0 auto; height: 270px; overflow: hidden;}
.header .nav .d-items li{ width: 183px; float: left; background: url(../images/nav-line.png) no-repeat right top; height: 270px; text-align: center;}
.header .nav .d-items li.last{ background: none;}
.header .nav .d-items li a{ width: 100%; height: 266px; display: block; overflow: hidden; margin-top: 4px;}
.header .nav .d-items li i{ width: 105px; height: 105px; background: url(../images/th-icon.png?t=0516) no-repeat; display: block; margin: 66px auto 15px;}
.header .nav .d-items li strong{ color: #1b1b1b; font-size: 18px; font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; font-weight: normal;}
.header .nav .d-items li a:hover{ background: url(../images/nav-hover.png) no-repeat;}
.header .nav .d-items li a:hover strong{ color: #cfa972;}
.header .nav .d-items li a .jt{ background-position: left top;}
.header .nav .d-items li a:hover .jt{ background-position: -105px top;}
.header .nav .d-items li a .hl{ background-position: left -105px;}
.header .nav .d-items li a:hover .hl{ background-position: -105px -105px;}
.header .nav .d-items li a .my{ background-position: left -210px;}
.header .nav .d-items li a:hover .my{ background-position: -105px -210px;}
.header .nav .d-items li a .sw{ background-position: left -315px;}
.header .nav .d-items li a:hover .sw{ background-position: -105px -315px;}
.header .nav .d-items li a .tx{ background-position: left -420px;}
.header .nav .d-items li a:hover .tx{ background-position: -105px -420px;}
.header .nav .d-items li a .hx{ background-position: left -525px;}
.header .nav .d-items li a:hover .hx{ background-position: -105px -525px;}

.header .search{ width: 258px; height: 34px; position: relative; float: right; margin-top: 38px; background: #fff;}
.header .search .s-input{ width: 214px; height: 24px; border: none; padding: 5px; font-size: 14px;}
.header .search .s-btn{ height: 34px; width: 34px; background-position: left -580px; cursor: pointer; border: none;}
.header .search .autoList{ position: absolute; background: #fff; border: 1px #ddd solid; border-top:none; top: 32px; width: 222px;}
.header .search .autoList li{ line-height: 28px; height: 28px; overflow:hidden; padding-left: 10px; cursor: pointer;}
.header .search .autoList li:hover{ background: #000; color: #fff;}
/*底部样式开始*/
.Cfoot{color:#959595; background-color:gainsboro; min-width:1100px;}
.Cfoot .inner{padding-top:50px; padding-bottom:50px; width:1100px; margin-left:auto; margin-right:auto; overflow:hidden;}
.Cfoot .logo{width:140px;height:100px;float:left;margin:10px 30px 0 40px;background:url(../images/logo_bottom.png) -8px -8px no-repeat;background-size: 120px;}
.Cfoot .info,
.Cfoot .link,
.Cfoot .contact,
.Cfoot .separate{margin-bottom:20px;float:left}
.Cfoot .separate{border-left:1px solid #0a0a0a; border-right:1px solid #1d1d1d; width:0; height:108px}
.Cfoot .info{width:320px;margin-top:6px;margin-right:40px;line-height:20px}
.Cfoot .link{width:90px;float:left;line-height:26px}
.Cfoot .link ul{margin-top:5px}
.Cfoot .link a{color:#898989}
.Cfoot .link li a{color:#a0a0a0}
.Cfoot .contact{line-height:26px;width:300px;float:left}
.Cfoot .contact a{color:#898989}
.Cfoot .contact ul{margin-top:5px}
.Cfoot .contact li{padding-left:24px;background-image:url(../images/bg_icon1.png);background-repeat:no-repeat}
.Cfoot .contact .tel{background-position:0 1px}
.Cfoot .contact .teli{font-weight:bold;font-style:normal}
.Cfoot .contact .mail{background-position:0 -49px}
.Cfoot .contact .mail a{color:#898989}
.Cfoot .contact .location{background-position:0 -99px}
.Cfoot .qrcode{float:left;width:100px;height:100px}
.Cfoot .qrcode-text{padding:105px 0;}
.Cfoot .bottom{box-shadow:0 0 0, 0 0 0, inset 0 5px 5px #545454, 0 0 0 yellow;
    -webkit-box-shadow:0 0 0, 0 0 0, inset 0 5px 5px #545454, 0 0 0 yellow;
    -moz-box-shadow:0 0 0, 0 0 0, inset 0 5px 5px #545454, 0 0 0 yellow;
    -ms-box-shadow:0 0 0, 0 0 0, inset 0 5px 5px #545454, 0 0 0 yellow;
    -o-box-shadow:0 0 0, 0 0 0, inset 0 5px 5px #545454, 0 0 0 yellow;
    padding:23px 0 18px;background-color:#626262;line-height:34px;color:#b5b5b5}
.Cfoot .bottom .inner{padding-top:0;padding-bottom:0}
.Cfoot .bottom .inner a:link {color: #b5b5b5;}
.Cfoot .bottom .inner a:hover{text-decoration: underline;}
.Cfoot .half{}
.Cfoot #bdshare .bds_tsina,
.Cfoot #bdshare .bds_tqq,
.Cfoot #bdshare .bds_douban,
.Cfoot #bdshare .bds_more{width:24px;height:34px;display:inline-block;margin-left:20px;margin-right:0;text-decoration:none}
.Cfoot #bdshare .bds_tsina,
.Cfoot #bdshare .bds_tqq,
.Cfoot #bdshare .bds_douban{background-image:url(../images/bg_icon1.png);background-repeat:no-repeat}
.Cfoot #bdshare .bds_tsina{background-position:0 -148px !important}
.Cfoot #bdshare .bds_tsina:hover{background-position:-25px -148px !important}
.Cfoot #bdshare .bds_tqq{background-position:0 -198px !important}
.Cfoot #bdshare .bds_tqq:hover{background-position:-25px -198px !important}
.Cfoot #bdshare .bds_douban{background-position:0 -248px !important}
.Cfoot #bdshare .bds_douban:hover{background-position:-25px -248px !important}
.Cfoot #bdshare .bds_more{padding:0;background:url(../images/bg_icon3.png) 0 -98px no-repeat !important}
.Cfoot #bdshare .bds_more:hover{background-position:-25px -98px !important}.Cform{background-color:#eee}
/*底部样式结束*/

/*分页样式开始*/
.page-list{ text-align: center; font-size: 16px; font-family: arial,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; padding: 10px 0 20px;}
.page-list a,
.page-list span,
.page-list b{width: 42px; height: 42px; display: inline-block; line-height: 42px; margin: 0 2px;color: #8895a3; font-size: 16px;}
.page-list a.disable{ cursor:default; background: #eaeaea;}
.page-list a,
.page-list b{ background: #fff;}
.page-list a:first-child,
.page-list a:last-child {font-weight:bold;}
.page-list span{ width: 30px; font-size: 30px;}
/*分页样式结束*/
.xsyh-icon{ position: absolute; left: 30px; top: 0; z-index: 5; width: 92px; height: 81px; background: url("../images/xsyh-icon.png?t=2") no-repeat; padding-top:10px; color:#fff; text-align:center;}
/*.xsyh-icon p{ font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; font-size:17px; line-height:27px;}*/
.xsyh-icon font{font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; font-size:17px; line-height:27px;}
.xsyh-icon em{ margin-left:3px;}
/*登录开始*/
.Cmask { position: fixed; width: 100%; height: 100%; display: block; top: 0; left: 0; z-index: 200; background-color: rgba(0, 0, 0, 0.3);  display: none;}
#ui-datepicker-div{ z-index: 1000;}
.Cdialog { z-index: 201; position: fixed; background-color: #f2f2f2; display: none;}
.Cdialog .close { top: 0; right: 0; position: absolute; }
.Cbtn_middle_yellow { background-color: #ff8000; height: 36px; line-height: 36px; font-size: 18px; color: white; cursor: pointer; text-align: center; border: none; display: inline-block; padding-left: 25px; padding-right: 25px; font-family: Microsoft YaHei, 宋体; }
.Cuser_dialog { width: 460px; height: 360px; left: 50%; margin-left: -230px; top: 50%; margin-top: -180px; }
.Cuser_dialog .close { width: 40px; height: 38px; background: #1a1a1a url(../images/bg_icon2.png) 5px -246px no-repeat; }
.Cuser_dialog .tab { height: 35px; padding-top: 3px; background-color: #262626; }
.Cuser_dialog .tab a { width: 210px; line-height: 34px; height: 35px; display: inline-block; text-align: center; font-size: 18px; color: white; text-decoration: none; }
.Cuser_dialog .tab a.curr { color: #262626; background-color: #f2f2f2; }
.Cuser_dialog .signin_area, .Cuser_dialog .signup_area { padding-left: 60px; padding-top: 25px; }
.Cuser_dialog .msg { display: block; color: #999999; overflow: hidden; padding-left: 45px; line-height: 20px; height: 20px; zoom: 1; }
.Cuser_dialog .msg.err { color: #ed2112; }
.Cuser_dialog .inputbox { border: 1px solid #cbcbcb; padding-left: 38px; background-color: white; position: relative; }
.Cuser_dialog .input1 { width: 290px; padding: 0 5px; line-height: 38px; height: 38px; overflow: hidden; zoom: 1; border: none; }
.Cuser_dialog .icon { width: 30px; height: 30px; position: absolute; top: 4px; left: 8px; background-repeat: no-repeat; background-image: url(../images/bg_icon2.png); }
.Cuser_dialog .icon1 { background-position: 0 -350px; }
.Cuser_dialog .icon2 { background-position: 0 -400px; }
.Cuser_dialog .label1 input { vertical-align: -2px; }
.Cuser_dialog .btnarea { padding-right: 60px; }
.Cuser_dialog .Cbtn_middle_yellow { width: 160px; }
.Cuser_dialog .authlogin { color: #262626; line-height: 30px; }
.Cuser_dialog .authlogin a { position: relative; display: inline-block; padding-left: 30px; padding-right: 30px; line-height: 30px; background-color: #ffc976; color: black; text-decoration: none; }
.Cuser_dialog .authlogin a:hover { background-color: #ffcf85; }
.Cuser_dialog .authlogin .wbicon { top: 3px; left: 30px; width: 24px; height: 24px; position: absolute; background: url(../images/bg_icon3.png) 0 0 no-repeat; }
/*登录结束*/
/*咨询弹出框开始*/
.Cconsult_dialog { width: 760px; height: 440px; left: 50%; top: 50%; margin-left: -380px; margin-top: -220px; }
.Cconsult_dialog .close { width: 30px; height: 30px; top: 5px; right: 4px; background: url(../images/bg_icon2.png) 0 -300px no-repeat; z-index: 10;}
.Cconsult_dialog .larea .limg {    width: 316px;}
.Cconsult_dialog .larea .limg img{height:374px}
.Cconsult_dialog .larea .info { height: 66px; background-color: #262626; color: gray; line-height: 24px; }
.Cconsult_dialog .larea .info h3 { color: white; font-size: 18px; font-weight: normal; }
.Cconsult_dialog .rarea { width: 388px; padding-left: 28px; padding-right: 28px; color: #666666; background-color: #F2F2F2; position: relative;}
.Cconsult_dialog .rarea h3 { color: #333333; font-size: 14px; line-height: 30px; }
.Cconsult_dialog .rarea p { line-height: 20px; }
.Cconsult_dialog .rarea .bottom { color: #666666; line-height: 20px; }
.Cconsult_dialog .input1 { width: 178px; padding: 0 5px; height: 26px; line-height: 26px; border: 1px solid #cbcbcb; }
.Cconsult_dialog .input2 { width: 151px; padding: 0 5px; height: 26px; line-height: 26px; border: none; }
.Cconsult_dialog .msg { display: block; height: 16px; line-height: 16px; }
.Cconsult_dialog .msg.err { color: #ed2112; }
.Cconsult_dialog .msg.suc { color: green; }
.Cconsult_dialog .Cdateinput { border: 1px solid #cbcbcb; }
.Cconsult_dialog .Cdateinput img { padding: 5px; background-color: #cbcbcb; float: left;}
.Cconsult_dialog .Cdateinput:hover { border-color: #262626; }
.Cconsult_dialog .Cdateinput:hover img { background-color: #262626; }
.Cconsult_dialog .tarea1 { width: 378px; height: 70px; padding: 4px; display: block; overflow-x: hidden; overflow-y: auto; resize: none; border: 1px solid #cbcbcb; }
.Cconsult_dialog .Cbtn_small_yellow { height: 29px; font-size: 14px; line-height: 28px; font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important; padding-right: 20px;}
/*咨询弹出框结束*/

/*侧边联系栏*/
.side-bar{ width: 45px; height: 137px; position: fixed;  left: 50%; margin-left: 585px;border: 1px #d2d2d2 solid; background: #fff;border-bottom: none; bottom: 210px; z-index:8;}
.side-bar .items{ height: 137px; position: relative; }
.side-bar li{ width: 45px; height: 45px;  border-bottom:  1px #d2d2d2 solid; position: relative;}
.side-bar li .list{ display: none; position: absolute; /*cursor: pointer; */width: 160px; background: #fff; border:1px #d2d2d2 solid; background: #fff; right: 45px; top: -1px; height: 45px; text-align: center; line-height: 45px; color: #b28850; font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;}
.side-bar li .list p{font-size: 16px; }
.side-bar li a{ width: 45px; height: 45px; display:block; background: url("../images/side-bar-icon.png") no-repeat;}
.side-bar li.weixin .list{ height: 183px; line-height: 40px;}
.side-bar li.weixin .list img{ width: 136px; height: 136px;}
.side-bar li .wx{ background-position: left top;}
.side-bar li .qq{ background-position: left -45px;}
.side-bar li .dh{ background-position: left -90px;}
.side-bar li .go{ background-position: left -135px;}
.side-bar li.goTop{ background: #f4f4f5; display: none;border: 1px #d2d2d2 solid; border-top:none; left: -1px;}
.side-bar li .zx{background:url(../images/online.png) no-repeat;}
.signup_area{
    position: relative;
}
#register_select{
    width: 40px;
    position: absolute;
    left: 0px;
}
#register_select span{
    display: block;
    padding: 5px 10px;
    word-wrap: break-word;
    letter-spacing: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.register_check{
    border: 1px solid #bbb;
    background-color: #fff;
}
.registerByEmail{

}
.registerByPhone{
    display: none;
}
.registerPwd{
    display: none;
}
#code{
    height: 38px;
    border: 1px solid #cbcbcb;
    padding-left: 15px;
}
#getCode{
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 42px;
}
.registerCode .inputbox{
    padding: 2px 0px 2px 0px;
    border: 0px;
    background-color: #F2F2F2;
}
.Cfoot .bottom .inner a:link{color:#B5B5B5}
.Cfoot .bottom .inner a{color:#B5B5B5}
.Cfoot .bottom .inner a:hover{color:#B5B5B5;text-decration:underline;}
.header .nav .navlink6{
    width: 90px;
}
.header .nav li .ma{
    padding: 0px 12px;
}


.header_promotion_logo{
	float:right;
	margin-bottom: -20px;
	cursor:pointer;
}
.immbook{
    float: right;
    margin-right: 10px;
    width: 170px;
    text-align: center;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    position: relative;
    top: -3px;
    padding: 6px 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: #ff8000;
}
.gotobook{
    float: right;
    margin-right: 10px;
    width: 170px;
    text-align: center;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    position: relative;
    top: -3px;
    padding: 6px 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: #ff8000;
}
.header .userlink {
    font-size: 13px;
    text-align: right;
    width: 260px;
    position: relative;
}
.header .userlink a {
    color: #333;
}
.header .userlink .userName
{
	/*position: absolute;
	width: 300px;
	left: -200px;
	text-align: right;*/
	display: inline;
}
.header .userlink>.line-2:after
{
	content: "";
	clear: both;
	display: block;
}
.header .userlink .mobile {
    background: url("../images/mobile-icon.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    color: #ff8000;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    padding-left: 28px;
	float:right;
}

.D1Search {
	border:none;background:url(../images/se_bj1.png);
	/*box-shadow: 0 5px 5px -5px #999;
    -webkit-box-shadow:  0 5px 5px -5px #999;
    -moz-box-shadow:  0 5px 5px -5px #999;
    -ms-box-shadow: 0 5px 5px -5px #999;
    -o-box-shadow: 0 5px 5px -5px #999;*/
	margin:0px 0px 20px;
	/*border-top:8px solid #cfa972;*/
	width:100%;
	}
.D1main {width:1100px;margin:0px auto;height:68px;}
.D1main ul {padding-top:15px;}
.D1main ul li {  background-color: #fff;float:left;margin-left:31.5px;width:153px;position:relative;}
.D1main ul li input {background:none;margin-top:1px;height:36px;border:none;padding:0px 10px;line-height:36px;font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif;width:85%;}
.D1main ul li i {background:url("../images/tiocn.png") no-repeat;float:left;margin-left:12px;margin-top:10px;display:block;}

.D1main ul .li1 {width:360px;margin-left:0px;}
.D1main ul .li1 i {background-position:0px 0px;width:13px;height:22px;}
.D1main ul .li1 input{width:300px;}

.D1main ul .li2 i ,.D1main ul .li3 i {background-position:-16px -2px;width:22px;height:22px;}
.D1main ul .li2 input ,.D1main ul .li3 input{width:88px;}

.D1main ul .li4 i {background-position:-41px 2px;width:22px;height:22px;}
.D1main ul .li4 input {width:88px;}

.D1main ul .li5 {  background-color: #ff8000;}

.D1main ul .li5 input {color: #ffffff;font-size: 20px;text-align: center;width: 97%;background:none;cursor:pointer;}
.D1main .autoList {position:absolute;z-index:9;background:#FFF;border:1px solid #e6e6e6;border-top:none;left:-1px;width:100%;  overflow: hidden;}
.D1main .autoList li {border:none;width:100%;line-height:32px;height:32px;}
.D1main .autoList li:hover {background:#000;color:#FFF;margin:0px;text-indent:24px;cursor:pointer;}
.D1main .ui-datepicker-trigger {width:100%;height:100%;position:absolute;top:0px;left:0px;cursor:pointer;}
.D1Search.fiexd {
    position: fixed;
    top: 0;
	z-index:11;
}
.D1main ul .li4 i.bg{
    background: url(/statics/web3/images/icon-person-1.svg) no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    margin-top: 6px;
}
.D1main ul .li3 i.bg{
    background: url(/statics/web3/images/icon-calendar.svg) no-repeat;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-top: 6px;
}
.D1main ul .li2 i.bg{
    background: url(/statics/web3/images/icon-calendar.svg) no-repeat;
    width: 22px;
    height: 22px;
    background-size: contain;
    margin-top: 6px;
}
.D1main ul .li1 i.bg{
    background: url(/statics/web3/images/icon-location.svg) no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    margin-top: 6px;
}
.new-s-off{
    width: 85px;
    height: 45px;
    left: 0;
	top: 0;
    background: rgba(0,0,0,.5);
    padding: 0;
}
.new-s-off p:first-child{
	font-family: "微软雅黑",sans-serif;
    width: 65px;
    margin: 0 auto;
    padding: 7px 0;
    border-bottom: 1px solid #E2D0D0;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 1px;
}

.new-r-off{
    width: 100px;
    height: 45px;
    left: 0;
	top: 0;
    background: rgba(0,0,0,.5);
    padding: 0;
}
.new-r-off p:first-child{
	font-family: "微软雅黑",sans-serif;
    width: 65px;
    margin: 0 auto;
    padding: 7px 0;
    border-bottom: 1px solid #E2D0D0;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 1px;
}
.new-r-off p:last-child{
	font-size: 11px;
	-webkit-text-adjust-size:none;
}

.container-pr{
	position: relative;
}
.hd-bg-w{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;

	position: absolute;
    bottom: -40px;
    right: -40px;
    overflow: initial;
}
.hd-bg-l{
	left: 390px;
   
}
.icon-hd{
	width: 20px;
	height: 20px;
	position: absolute;
    top: 15px;
    right: 15px;
    background: url("/statics/web3/images/icon-hd.svg") no-repeat;
    cursor: pointer;
}
.icon-hd-w{
	top: 9px;
    right: 50px;
    background: url("/statics/web3/images/icon-hd-w.svg") no-repeat;
}
.icon-hd-l{
	left: 15px;
    right: auto;

}
.hidden{
	display: none;
}
.hd-notice{
	content: "无需等待客服确认即可付款完成预订";
	width: 0px;
	height: 50px;

	background: #fff;
	border-radius: 4px;
	position: absolute;
	right:10px;
	top: -60px;
	
	opacity: 0;
	-webkit-transition:all 1s;
	transition:all 1s;
}
.hd-notice:after{
	content: "";
	border-top: 9px solid #fff;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;

	position: absolute;
    bottom: -8px;
    right: 39px;

}
.hd-notice-new:after{
	content: "";
    border-top: 9px solid transparent;
    border-left: 9px solid #fff;
    border-bottom: 9px solid transparent;
    border-right: 0;
    position: absolute;
    bottom: 15px;
    right: -8px;
}  
.icon-hd-hover:hover .hd-notice{
	width: 210px;
	opacity: 1;
}
.hd-notice p:first-child{
	height: 20px;
	margin: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	font-family: "华文细黑","微软雅黑";
	margin-bottom: 0;
	overflow: hidden;
	text-align: left;
	text-indent: 0;
}
.hd-notice p:last-child{
	height: 20px;
	margin: 5px;
    margin-top: 0;
    font-size: 12px;
    color: #666;
    font-family: "华文细黑","微软雅黑";
    line-height: 20px;
    text-align: left;
	overflow: hidden;
	text-indent: 0;
}
.left-700{
    left: -220px;
    top: -15px;
}
.ti-30{
	text-indent: -30px;
}
.navlink5 .dropbox:before{
	border-bottom: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    position: absolute;
    top: -8px;
    left: 297px;
}
.ml11{
	margin-left: 11px;
}
.pr{
	position: relative;
}
.member-flag{
	position: relative;
	padding-left: 50px;
}
.icon-member-t1{
	width: 46px;
	height: 13px;
	background-image: url(/statics/web3/member/images/icon-gold.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: -50px;
}
.icon-member-t2{
	width: 46px;
	height: 13px;
	background-image: url(/statics/web3/member/images/icon-bj.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: -50px;
}
.icon-member-t3{
	width: 46px;
	height: 13px;
	background-image: url(/statics/web3/member/images/icon-c.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left:  -50px;
}
.top3{
	top: 3px;
	left: 0;
}